#triangle-code1 {
}

#triangle-code2 {}

#triangle-code3 {}

#triangle-code4 {}

#triangle-code5 {}

#losange-90 {}

#losange-90:after {
    left: -75px;
    top: 75px;
}

#parallelogramme {}

#parallelogramme:after {
    top: -75px;
    right: 0px;
}