/*form'ours'*/
.blue.ours {
  z-index: 1;
  transform: translate(150px, 145px) rotate(45deg);
}
.red.ours {
  z-index: 1;
  transform: translate(35px, -110px) rotate(135deg);
    }
.yellow.ours {
  z-index: 1;
  transform: translate(170px, -15px) rotate(90deg);
}
.green.ours {
  z-index: 1;
  transform: translate(-130px, 45px) rotate(360deg) skew(-45deg);
}
.purple.ours{
    transform: translate(-195px, -110px) rotate(360deg);
    z-index: 1;
}

.brown.ours {
  z-index: 1;
  transform: translate(-60px, -90px) rotate(180deg);
}
.orange.ours {
  z-index: 1;
  transform: translate(-280px, -85px) rotate(315deg);
}
.canvas.ours {
  z-index: 0;
  background-image: none;
}