.canvas.cat {
    background-image: none;
}

.figure {
  position: absolute;
  transition: all 2s;
  height: 0px;
  width: 0px;
}

.red.cat {
  z-index: 1;
  transform: translate(2px, 195px) rotate(225deg);
}

.green.cat {
  z-index: 1;
  transform: translate(-140px, -157px) rotate(-45deg);
}

.blue.cat {
  z-index: 1;
  transform: translate(-101px, -235px) rotate(180deg);
}

.yellow.cat {
  z-index: 1;
  transform: translate(-21px, 32px) rotate(90deg);
}

.purple.cat {
  z-index: 1;
  transform: translate(162px, 195px) rotate(180deg) skew(-45deg);
}

.brown.cat {
  z-index: 1;
  transform: translate(-99px, -13px) rotate(225deg);
}

.orange.cat {
  z-index: 1;
  transform: translate(-177px, -236px) rotate(270deg);
}

